<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

<nav>
  <div class="nav-center">
    <!-- nav header -->
    <div class="nav-header">
      <%= image_tag "logoo.png" %>
      <button class="nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <!-- links -->
    <ul class="links">
      <li>
          <%= link_to "HOME", root_path %>
      </li>
      <li>
          <%= link_to "ABOUT", about_path %>
      </li>
      <li>
     <%= link_to "CAPABILITIES", capabilities_path %>
      </li>
      <li>
       <%= link_to "CONTACT", contact_path %>
      </li>
    </ul>
    <!-- social media -->
    <ul class="social-icons">
      <li>
        <a href="https://www.twitter.com">
          <i class="fab fa-facebook"></i>
        </a>
      </li>

      <li>
        <a href="https://www.twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
      </li>

      <li>
        <a href="https://www.twitter.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
         <a href="https://www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

    </ul>
  </div>
</nav>





