<div class="nav-container">
<div class="col-md-12"></div>
<div class="col-md-8">
  <div class= "navbar">


      <ul class="nav-list">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logoo.png" %>
        <% end %>
        <li class="nav-items">
          <%= link_to "CONTACT", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-items">
          <%= link_to "CAPABILITIES", capabilities_path, class: "nav-link" %>
        </li>
        <li class="nav-items">
          <%= link_to "ABOUT", about_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    </div>
  </div>
